*{
  margin: 0;
}
.doc{
  &-ul{
    padding: 0;
  }
  &-li{
    position: relative;
    list-style: none;
    width: auto;
    padding-left: 10px;
    margin: 5px 0 5px 0;
    &:hover{
      cursor: pointer;
      background-color:whitesmoke;
      & > .plus-button{
        visibility: visible;
      }
    }
  }
}
#page {
	display: flex;
}
#edit-page {
	border: 1px solid black;
	height: 100%;
	flex-basis: 80%;
	flex-grow: 8;
	margin-left: 2px;
}
#nav-page {
	border: 1px solid black;
	flex-basis: 20%;
	flex-grow: 2;
	height: 100%;
	margin-right: 2px;
}

.plus-button {
	position: absolute;
	right: 7px;
	border: 1px solid black;
	border-radius: 4px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-weight: bolder;
  visibility: hidden;
  &:hover{
    background-color: gray;
  }
}
.class-doc-carot{
  padding:5px
}