@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Karla', sans-serif;
}

html,
body {
    width: 100vw;
    height: 100vh;
}

#app {
  width: 100%;
  height: 100%;
}

.sidebar-header {
    position: relative;
    width: 100%;
    height: 15%;
    color: white;
    background-color: rgb(30, 18, 97);
    margin-bottom: 1rem;
}

.edit-header {
    width: 100%;
    height: 18%;
    background-color: rgb(32, 24, 68);
}

.sidebar-header .username {
    font-size: 1.5rem;
    padding: 0.8rem 0 0 0.8rem;
}

.sidebar-header .add-doc-button {
    position: absolute;
    right: 0.2rem;
    bottom: 0.2rem;
    font-size: 0.8rem;
    background-color: transparent;
    border-radius: 50px;
    text-transform: uppercase;
    border: 0.1rem solid rgb(255, 255, 255);
    color: white;
    cursor: pointer;
}

#app ul {
    list-style: none;
    padding: 0 1rem;
}

#app .doc-title {
    position: absolute;
    color: white;
}

.sidebar {
    top : 0;
    position : fixed;
    display :block;
    width: 300px;
    height: 100%;
    background-color: rgb(47, 55, 94);
}

.list-container {
    position: relative;
    margin-bottom: 0.4rem;
}

.list-container button {
    position: relative;
    left: 8rem;
    font-size: 0.8rem;
    background-color: transparent;
    border-radius: 50px;
    text-transform: uppercase;
    border: 0.1rem solid rgb(255, 255, 255);
    color: white;
    cursor: pointer;
}

.edit-container {
  display:block;
  margin-left : 300px;
  width: 75%;
  height : 80%;
}

.title-container input {
  display : block;
  width : 100%;
}
.editor {
  width : 100%;
  height : 100%;
}
.content-container {
  width : 100%;
  height : 100%;
}
.content-container .content {
  width : 100%;
  height : 100%;
  border : 1px solid black;
}

.editor {
  padding : 0.3rem;
}

.doc-list .doc-title {
  cursor : pointer
}