#App {
  display: flex;
  flex-direction: row;
}
nav > ul > li {
  display: flex;
  flex-direction: column;
}
.editorPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.editorPage > :nth-child(1) {
  width: 50px;
  height: 20px;
}
.editorPage > :nth-child(2) {
  margin-top: 30px;
}

.editorPage > :nth-child(3) {
  margin-top: 10px;
  width: 80%;
  height: 50px;
}

.editorPage > :nth-child(4) {
  width: 80%;
  height: 500px;
}
