#App {
  display: flex;
  flex-direction: row;
}
nav {
  background-color: rgb(247, 246, 243);
  width: 20vh;
  height: 100vh;
}
nav > ul > li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-justify: auto;
}

.editor-empty-page {
  width: 100vh;
  height: 100vh;
}

nav > ul > li > button {
  width: 30px;
  height: 30px;
}
nav > ul {
  display: flex;
  flex-direction: column;
}
.editorPage {
  width: 80vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.editorPage > :nth-child(1) {
  width: 50px;
  height: 20px;
}
.editorPage > :nth-child(2) {
  margin-top: 30px;
}

.editorPage > :nth-child(3) {
  margin-top: 10px;
  width: 80%;
  height: 50px;
}

.editorPage > :nth-child(4) {
  width: 80%;
  height: 500px;
}

.onSlected {
  background-color: rgb(217, 216, 213);
}
