@import url("reset.css");
@import url("documentList.css");
@import url("profile.css");
#app {
  font-size: 14px;
  font-family: sans-serif;
  height: 100vh;
  display: flex;
}

.side-page-container {
  width: 240px;
  background-color: rgb(247, 246, 243);
  padding: 15px;
}

.main-page-container {
}
